<h1>These are your past rooms</h1>

<% me.rooms.forEach(function(room){ %>
    <div class="row">
        <div class="col-md-12">
       <h1>  <a href="/room/<%= room._id %>">  <span> <strong><%= room.title %></strong></span></a></h1>
            
        </div>
    </div>
<% }) %>


<h3><a href="/">Back</a></h3>