<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
         <title>Teams</title>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
         <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="styles_index.css" rel="stylesheet" />
    </head>
    <body>
          <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="rounded-circle img-circle" style="padding-top: 20px;" src="https://play-lh.googleusercontent.com/jKU64njy8urP89V1O63eJxMtvWjDGETPlHVIhDv9WZAYzsSxRWyWZkUlBJZj_HbkHA" alt="Teams" />
                <h1 class="text-white fs-3 fw-bolder">Teams Clone App</h1>
                <h4 class="link mb-0"> <a href="/<%=id%>">Start an instant meeting</a></h4>
            </div>
        </header>

        <footer class="bg-light text-center ">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2021 Copyright:
              <p>PJ</p>
            </div>
          </footer>
     </body>
</html>
