<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
         <title>Teams</title>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
         <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="styles_index.css" rel="stylesheet" />
    </head>
    <body>
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Teams</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                
                <div class="navbar-nav ml-auto">
                     <% if(!currentUser) {%> 
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                     <% } else {%> 
                    <a class="nav-link" href="/logout">Logout</a>
                 <% } %> 
                </div>
            </div>
        </div>
    </nav>
          <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="rounded-circle img-circle" style="padding-top: 20px;" src="https://play-lh.googleusercontent.com/jKU64njy8urP89V1O63eJxMtvWjDGETPlHVIhDv9WZAYzsSxRWyWZkUlBJZj_HbkHA" alt="Teams" />
                <h1 class="text-white fs-3 fw-bolder">Teams Clone App</h1>
                <form action="/new-room" method="POST">
                    <input type="text" placeholder="Enter a title for the meeting" name="name" required>
                     <button>Create the Room</button>
                </form>
            </div>
        </header>

        <footer class="bg-light text-center ">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2021 Copyright:
              <p>PJ</p>
            </div>
          </footer>
     </body>
</html>
