<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teams Clone</title>
    <script>
      console.log("<%= roomId %>");
    </script>
  </head>
  <body>
    <p>Meeting will start here at <%=roomId%></p>

  </body>
</html>
